<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="base::Layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <section>
        <div class="container p-5">
            <p class="text-center fs-3 mt-2">Admin Dashboard</p>
            <div class="row p-5">
            <div class="col-md-4 ">
                <a href="#" class="text-decoration-none">
                <div class="card card-sh">
                    <div class="card-body text-center">
                        <i class="fa-solid fa-plus fa-2x text-primary"></i>
                        <p class="fs-5">Add Product</p>


                    </div>
                </div>
                </a>
            </div>
            </div>
        </div>
    </section>
</body>
</html>